{% extends "base_generic.html" %}

{% block content %}
  <h2>Buscar Jugador</h2>
  <form method="GET" action="{% url 'buscar_jugador' %}">
    <input type="text" name="query" placeholder="Nombre del Jugador" value="{{ request.GET.query }}">
    <button type="submit">Buscar</button>
  </form>
  
  {% if jugadores %}
    <h3>Resultados</h3>
    <ul>
      {% for jugador in jugadores %}
        <li>{{ jugador.nombre }} - {{ jugador.equipo.nombre }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
